/*Common elements across all pages*/

/*Page Container*/

	#pagecontainer{max-width: 1200px; margin: 0 auto; padding: 10px;}

	/*header and footers*/
	
	head{font-family:Arial;}
			
		
	footer{text-align:center}
	
	
	
	
	/*body*/
	body{ font-family:cursive;}
	
	
	
	
	
	
		
	/*links*/
	

	
	