/*Common elements across all pages*/

	/*header and footers*/
	
	head{
		font-family:Arial;
		
		}
		
	#footer{
		
		margin: auto;
		
		}
		
	/*links*/
	
	a:link{
	font-family: serif;
	text-decoration: underline;
	font-weight:none;
	}
	
	/*visited links appear in a diff color*/
	a:visited{
	color:#44749d;
	text-decoration:underline;
	}
	
	/*hover over a link=bold text*/
	a:hover{
	font-weight:bold;
	text-decoration: none;
	}
	
	a:active{
	color:#8c22328;
	text-decoration: none;
	}
	
	